{% extends "index.html" %}
{% block head %}
<meta charset="UTF-8">
<title>Xhatoid</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
<script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
{% endblock %}

{% block content %}

<main class="grid ">
    <figure>
      <img src="static/css/images/PC.jpg" alt="PC" class="A">
        <figcaption>
            <div class="overlay-text">My personal PC internal hardware</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/RazorKeyboard.jpg" alt="PC" >
        <figcaption>
            <div class="overlay-text">Razer BlackWidow Ultimate Stealth 2016</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/RazorLaptop.jpg" alt="PC" >
        <figcaption>
            <div class="overlay-text">Razer - Blade 15.6"</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/20220417_114145.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">Pancakes</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/20220417_170657.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">Carnitas Torta</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/20220417_211342.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">Mangos</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/20220418_163629.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">M&M Cookie</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/20220418_135353.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">Chili con carne</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/20220417_2351352.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">Mango Jumex</div>
        </figcaption>
    </figure>
<!--    <figure>-->
<!--        <img src="static/css/images/20220417_234428.jpg" alt="Sample photo">-->
<!--        <figcaption>-->
<!--            <div class="overlay-text">Night Shot</div>-->
<!--        </figcaption>-->
<!--    </figure>-->
<!--    <figure>-->
<!--        <img src="static/css/images/IMG_0487.jpg" alt="Sample photo">-->
<!--        <figcaption>-->
<!--            <div class="overlay-text">Mexico</div>-->
<!--        </figcaption>-->
<!--    </figure>-->
<!--    <figure>-->
<!--        <img src="static/css/images/IMG_0487.jpg" alt="Sample photo">-->
<!--        <figcaption>-->
<!--            <div class="overlay-text">???</div>-->
<!--        </figcaption>-->
<!--    </figure>-->
</main>
{% endblock %}