{% extends "index.html" %}
{% block head %}
<meta charset="UTF-8">
<title>Xhatoid</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
<script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
{% endblock %}

{% block content %}

<main class="grid ">
    <figure>
      <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
      <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
    <figure>
        <img src="static/css/images/sheep.jpg" alt="Sample photo">
        <figcaption>
            <div class="overlay-text">This is a Sheep.</div>
        </figcaption>
    </figure>
</main>
{% endblock %}